
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    background-color: aqua;
    height: 80px;
}
 .nav-bar{
    
    display: flex;
    margin-right: 10px;
}
.header > .nav-bar  >  li {
    margin-right: 20px;
    text-decoration: none;
     list-style-type: none; 
}
.logo img{
    height: -webkit-fill-available
}
.reas-car{
  border: 1px solid #000;
        width: 134px;
   
    display: flex;
    justify-content: start;
   
    flex-direction: column;
    margin-right: 10px;
  
}
.reas-car h1{
    font-size: 12px;
    font-weight: 100;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.login{
    height: 20px;
    width: 70px;
    background-color: gray;
}
.p-img > img{
    width: 134px !important;
}